@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --text: #050212;
    --background: #f7f6fe;
    --primary: #4e26df;
    --secondary: #d3ed8c;
    --accent: #65e78c;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--text);
}

body {
    background-color: var(--background);
}

header {
    background-color: var(--primary);
    padding: 1rem;
    text-align: center;
}

footer {
    background-color: var(--primary);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
}

.push {
    height: 75px;
}

.nav {
    text-align: center;
    margin: 5px;
}

.btn {
    padding: 10px;
    border-radius: .5rem;
    margin: 5px;
    background-color: var(--secondary);
    transition: 50ms;
    cursor: pointer;
}

.btn:hover {
    padding: 15px;
    margin: 0px;
}

.btn:active {
    background-color: var(--accent);
    margin: 10px;
    padding: 5px;
}

body {
    min-height: 100vh;
}

table {
    text-align: left;
    margin: 1rem;
    background-color: black;
}

td, th {
    background-color: white;
    padding: .5rem;
}

p, h1, h2 {
    margin: .75rem .5rem;
}

.subjectBox {
    border: .2rem solid black;
    margin: 1rem;
    border-radius: .5rem;
    background-color: var(--secondary);
    cursor: pointer;
}

.subjectBox:hover {
    border: .2rem solid black;
    border-radius: 1rem;
}

.subjectBox:active {
    border: .2rem solid black;
    border-radius: 1rem;
}

.hidden {
    display: none;
}

.openNewText {
   text-align: left; 
}